@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 111vh;
    font-family: 'poppins', sans-serif;
    background-image: linear-gradient(to bottom right, #ce2131, #0e4e7c);
}

#form{
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 2px;
    padding: 30px;
    width: 50%;
    align-items: center;
}
h2{
    font-size: 1.8em ;
}

#nome{
    min-width: 280px;
    border-radius: 22px;
    border: 2px solid gray;
    padding: 5px;
    margin: 0 0 12px -5px;
 }
#email{
    min-width: 280px;
    border-radius: 22px;
    border: 2px solid gray;
    padding: 5px;
    margin: 0 0 12px -5px;n
 }
#dtnasc{
    min-width: 280px;
    border-radius: 22px;
    border: 2px solid gray;
    padding: 5px;
    margin: 0 0 12px -5px;
}
#sexo{
    min-width: 280px;
    border-radius: 22px;
    border: 2px solid gray;
    padding: 5px;
    margin: 0 0 12px -5px;
}
#nomemae{
    min-width: 280px;
    border-radius: 22px;
    border: 2px solid gray;
    padding: 5px;
    margin: 0 0 12px -5px;
}
#cpf{
    min-width: 280px;
    border-radius: 22px;
    border: 2px solid gray;
    padding: 5px;
    margin: 0 0 12px -5px;
}
#cel{
    float: left;
    min-width: 280px;
    border-radius: 22px;
    border: 2px solid gray;
    padding: 5px;
    margin: 0 0 12px -5px;
}
#telfixo{
    min-width: 280px;
    border-radius: 22px;
    border: 2px solid gray;
    padding: 5px;
    margin: 0 0 12px -5px;
}
#end{
    min-width: 280px;
    border-radius: 22px;
    border: 2px solid gray;
    padding: 5px;
    margin: 0 0 12px -5px;
}
#login{
    min-width: 280px;
    border-radius: 22px;
    border: 2px solid gray;
    padding: 5px;
    margin: 0 0 12px -5px;
}
#senha{
    min-width: 280px;
    border-radius: 22px;
    border: 2px solid gray;
    padding: 5px;
    margin: 0 0 12px -5px;
}
#confsenha{
    min-width: 280px;
    border-radius: 22px;
    border: 2px solid gray;
    padding: 5px;
    margin: 0 0 12px -5px;
}
